.App footer {
  color: black;
  text-align: center;
  font-size: small;
  font-weight: normal;
  border: 3px solid #a7c6ca;
  background-color: #015a66;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
}
.App a {
  color: #abd5e7;
}
