body {
  background-image: url("https://images.unsplash.com/photo-1615524152519-cce424198a2e?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfDZzTVZqVExTa2VRfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60");
}

.Weather {
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  padding: 60px;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 700px;
  margin-top: 120px;
  margin-left: 200px;
}

.Weather h1 {
  font-family: "Times New Roman", Times, serif;
  color: #00383f;
  font-size: 44px;
  line-height: 30px;
  margin-bottom: 10;
  margin-top: 30px;
  text-align: center;
}
.weather-widget {
  max-width: 900px;
  margin: 15px 10px;
}

li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
}

.weather-temperature canvas {
  width: 60px;
  display: inline-block;
  margin-right: 1px;
  height: 75px;
  font-stretch: 100%;
}
.weather-temperature strong {
  color: #00383f;
  float: left;
  font-family: sans-serif;
  font-size: 65px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500;
  height: auto;
  line-height: normal;
}
.weather-temperature .units {
  color: #00383f;
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 17px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 18px;
  line-height: normal;
  margin-top: 15px;
  margin-left: 0px;
}
