body {
  background-image: url("https://images.pexels.com/photos/2099737/pexels-photo-2099737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.Weather {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  padding: 60px;
  border: 1px solid black;
  border-radius: 15px;
  max-width: 650px;
  margin: 30px auto;
}

.Weather h1 {
  font-family: "Times New Roman", Times, serif;
  color: purple;
  font-size: 44px;
  line-height: 30px;
  margin-bottom: 10;
  margin-top: 30px;
  text-align: center;
}
.weather-widget {
  max-width: 600px;
  margin: 10px;
}

li {
  list-style: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.weather-temperature canvas {
  width: 70px;
  display: inline-block;
  margin-right: 5px;
  height: 64px;
}
.weather-temperature strong {
  color: #321a70;
  float: left;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 64px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: normal;
}
.weather-temperature .units {
  color: #321a70;
  display: block;
  float: left;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 18px;
  line-height: normal;
  margin-top: 6px;
  margin-left: 0px;
}
